*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.text-card{
    width: 1000px;
    /* width: 80%; */

    /* height: 100px; */
    /* padding: 25px; */
    border-radius: 20px;
    border: 1px solid black;
    margin: 50px auto;
    /* overflow: hidden; */
    /* overflow: auto; */
    /* overflow-y: hidden; */
    /* overflow-x: auto; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
}
.text-card img{
    /* width: 50px; */
}
.text-card p{
    font-size: 25px;
}
.text-card img{
    float: left;
    /* clear: ; */
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.logo, nav{
    /* display: inline-block; */
    float: left;
    width: 500px;
    /* width: 50%; */
}
.logo{
    background-color: yellow;
}
nav{
    background-color: blue;
}