:root{
    --main-font:"Roboto", sans-serif;
    --secondaryFont:"Micro 5", sans-serif;
    --main-bg:blue;
    --secondary-bg:yellow;
    --baseFontSize:20px;
}
html,body{
    font-size: var(--baseFontSize);
}
.main{
    background-color: var(--main-bg);
    font-family: var(--main-font);
    padding: 2rem;
}
.main h1{
    font-size: 2rem;
}
.main p{
    font-size: 1rem;
}
.secondary{
    background-color: var(--secondary-bg);
    font-family: var(--secondaryFont);
    padding: 1rem;
}
.secondary h2{
    font-size: 2.5rem;
}
.secondary p{
    font-size: 1.8rem;
}
h3{
    /* font-family: Arial, Helvetica, sans-serif; */
    --main-font:Arial, Helvetica, sans-serif;
    --main-bg:green;
    font-family: var(--main-font);
    background-color: var(--main-bg);
    padding: 3rem;
}

@media (max-width:1200px){
    :root{
        /* --main-font:"Roboto", sans-serif; */
        --main-font:"Micro 5", sans-serif;
        --secondaryFont:"Roboto", sans-serif;;

        /* --secondaryFont:"Micro 5", sans-serif; */
        --main-bg:rgb(18, 126, 228);
        --secondary-bg:rgb(163, 163, 11);
        --baseFontSize:10px;
    }
    h3{
        --main-font:"Micro 5", sans-serif;
        --main-bg:orange;
        padding: 1rem;
    }
}


@media (max-width:1000px){
    :root{
        --main-bg:rgb(18, 126, 228);
        --secondary-bg:rgb(163, 163, 11);
        --baseFontSize:8px;
    }
    h3{
        --main-bg:rgb(225, 9, 200);
    }
}
